<div class="head">
  <div class="page">
    <img src="assets/images/m-prev.png" alt="">
    <h2>1 / 2</h2>
    <img src="assets/images/m-next.png" alt="">
  </div>
  <div class="btnFinish">
    <a [routerLink]="'/#/save'">完成簽署</a>
  </div>
</div>

<img src="assets/images/contract-1.png" alt="">


<div class="functionArea">
  <img src="assets/images/signin.png" alt="">
  <img src="assets/images/check.png" alt="">
  <img src="assets/images/date.png" alt="">
  <img src="assets/images/inputText.png" alt="">
</div>
