<header>

  <h1>
    <img class="logo" src="assets/images/m-logo.png" alt="">
  </h1>
  <h1>GNSign</h1>

  <div class="header-container">

    <a [routerLink]="'/record'"><h2>歷史紀錄</h2></a>
  </div>
</header>

<div class="mainBorder">

  <img src="assets/images/m-pdf-jpg.png" alt="">

<div class="fileUpload">

  <label for="selectFile">選擇檔案</label>
  <input id="selectFile" class="selectFile" type="file" (change)="onFileChange($event)">
</div>
  <h3>(限10MB 內的PDF或JPG檔)</h3>
  <button (click)="openDialog('檔案超 過10MB，請重新選擇')">Test Dialog</button>

</div>
<img class="img-pink-girl" src="assets/images/m-pink-girl.png" alt="">
<img class="img-yellow-girl" src="assets/images/m-yellow-girl.png" alt="">
<img class="img-blue-girl" src="assets/images/m-blue-girl.png" alt="">
<img class="img-plant" src="assets/images/m-plant.png" alt="">
<img class="img-bag" src="assets/images/m-bag.png" alt="">
<img class="img-grass" src="assets/images/m-grass.png" alt="">

<footer class="page-footer">

  小綠簽 © <a href="https://github.com/andychung0214" target="_blank">Crown Chung</a> / Design: <a
    href="https://www.behance.net/KT_Designer" target="_blank">KT</a>
</footer>
